secrets:
  mysql_root_password: CHANGE_ME_32_hex_chars
  mysql_wp_user: wordpress
  mysql_wp_password: CHANGE_ME_32_hex_chars
  mysql_wp_database: wordpress

  redis_password: CHANGE_ME_32_hex_chars

  wp_auth_key:         CHANGE_ME_64_hex_chars
  wp_secure_auth_key:  CHANGE_ME_64_hex_chars
  wp_logged_in_key:    CHANGE_ME_64_hex_chars
  wp_nonce_key:        CHANGE_ME_64_hex_chars
  wp_auth_salt:        CHANGE_ME_64_hex_chars
  wp_secure_auth_salt: CHANGE_ME_64_hex_chars
  wp_logged_in_salt:   CHANGE_ME_64_hex_chars
  wp_nonce_salt:       CHANGE_ME_64_hex_chars
