{% set users = salt['pillar.get']('users', {}) %}
{% set network = salt['pillar.get']('network', {}) %}
{% set redis_pillar = salt['pillar.get']('redis', {}) %}
{% set secrets = salt['pillar.get']('secrets', {}) %}
{% set monitoring = salt['pillar.get']('monitoring', {}) %}
{% set backup = salt['pillar.get']('backup', {}) %}
{% set fail2ban = salt['pillar.get']('fail2ban', {}) %}
{% set mon = salt['pillar.get']('monitoring_grafana', {}) %}

{% set settings = {
    'podman_user':      users.get('podman_user', 'podman-wp'),
    'podman_uid':       users.get('podman_uid', 1001),
    'podman_home':      users.get('podman_home', '/home/podman-wp'),
    'subuid_start':     users.get('subuid_start', 100000),
    'subuid_count':     users.get('subuid_count', 65536),
    'subgid_start':     users.get('subgid_start', 100000),
    'subgid_count':     users.get('subgid_count', 65536),
    'domain':           network.get('domain', 'example.com'),
    'ssh_port':         network.get('ssh_port', 2222),
    'network_name':     network.get('network_name', 'wp-network'),
    'subnet':           network.get('subnet', '10.89.0.0/24'),
    'gateway':          network.get('gateway', '10.89.0.1'),
    'mysql_ip':         network.get('mysql_ip', '10.89.0.10'),
    'redis_ip':         network.get('redis_ip', '10.89.0.20'),
    'redis_data':       redis_pillar.get('data_dir', '/srv/wp/redis/data'),
    'redis_maxmemory':  redis_pillar.get('maxmemory', '256mb'),
    'wp_node1_ip':      network.get('wp_node1_ip', '10.89.0.31'),
    'wp_node2_ip':      network.get('wp_node2_ip', '10.89.0.32'),
    'nginx_ip':         network.get('nginx_ip', '10.89.0.2'),
    'anubis_ip':        network.get('anubis_ip', '10.89.0.5'),
    'http_port':        network.get('http_port', 80),
    'https_port':       network.get('https_port', 443),
    'external_interface': network.get('external_interface', 'eth0'),
    'base_dir':         network.get('base_dir', '/srv/wp'),
    'mysql_data':       network.get('mysql_data', '/srv/wp/mysql/data'),
    'mysql_conf':       network.get('mysql_conf', '/srv/wp/mysql/conf'),
    'mysql_init':       network.get('mysql_init', '/srv/wp/mysql/init'),
    'uploads_dir':      network.get('uploads_dir', '/srv/wp/uploads'),
    'nginx_conf':       network.get('nginx_conf', '/srv/wp/nginx/conf'),
    'nginx_ssl':        network.get('nginx_ssl', '/srv/wp/nginx/ssl'),
    'wp_config_dir':    network.get('wp_config_dir', '/srv/wp/wp-config'),
    'wp_bin':           network.get('wp_bin', '/srv/wp/bin'),
    'wp_core_dir':      network.get('wp_core_dir', '/srv/wp/wordpress-core'),
    'mysql_root_pass':  secrets.get('mysql_root_password', ''),
    'mysql_wp_user':    secrets.get('mysql_wp_user', 'wordpress'),
    'mysql_wp_pass':    secrets.get('mysql_wp_password', ''),
    'mysql_wp_db':      secrets.get('mysql_wp_database', 'wordpress'),
    'redis_password':   secrets.get('redis_password', ''),
    'wp_auth_key':         secrets.get('wp_auth_key', ''),
    'wp_secure_auth_key':  secrets.get('wp_secure_auth_key', ''),
    'wp_logged_in_key':    secrets.get('wp_logged_in_key', ''),
    'wp_nonce_key':        secrets.get('wp_nonce_key', ''),
    'wp_auth_salt':        secrets.get('wp_auth_salt', ''),
    'wp_secure_auth_salt': secrets.get('wp_secure_auth_salt', ''),
    'wp_logged_in_salt':   secrets.get('wp_logged_in_salt', ''),
    'wp_nonce_salt':       secrets.get('wp_nonce_salt', ''),
    'images': {
        'mysql':        'docker.io/library/mysql:8.0',
        'redis':        'docker.io/library/redis:7-alpine',
        'wordpress':    'docker.io/library/wordpress:php8.2-fpm-alpine',
        'nginx':        'docker.io/library/nginx:1.25-alpine',
        'anubis':       'ghcr.io/techarohq/anubis:latest',
        'prometheus':   'docker.io/prom/prometheus:latest',
        'grafana':      'docker.io/grafana/grafana:latest',
        'node_exporter': 'docker.io/prom/node-exporter:latest',
        'mysql_exporter': 'docker.io/prom/mysqld-exporter:latest',
        'redis_exporter': 'docker.io/oliver006/redis_exporter:latest',
    },
    'packages': {
        'podman':       ['podman'],
    },
    'disk_warning':        monitoring.get('disk_warning', 80),
    'disk_critical':       monitoring.get('disk_critical', 90),
    'disk_paths':          monitoring.get('disk_paths', ['/', '/srv/wp']),
    'beacon_interval':     monitoring.get('beacon_interval', 60),
    'watch_paths':         monitoring.get('watch_paths', {}),
    'container_services':  monitoring.get('container_services', {}),
    'alert_log':           monitoring.get('alert_log', '/var/log/wp/beacon-alerts.log'),
    'backup_dir':          backup.get('backup_dir', '/srv/wp/backups'),
    'backup_log_dir':      backup.get('log_dir', '/var/log/wp'),
    'retention_days':      backup.get('retention_days', 30),
    'schedule_hour':       backup.get('schedule_hour', 3),
    'schedule_minute':     backup.get('schedule_minute', 0),
    'offsite_enabled':     backup.get('offsite_enabled', false),
    'offsite_type':        backup.get('offsite_type', 'rsync'),
    'offsite_target':      backup.get('offsite_target', ''),
    'offsite_rsync_key':   backup.get('offsite_rsync_key', ''),
    'nginx_logs':          network.get('nginx_logs', '/srv/wp/nginx/logs'),
    'f2b_ban_time':        fail2ban.get('ban_time', 3600),
    'f2b_find_time':       fail2ban.get('find_time', 600),
    'f2b_max_retry':       fail2ban.get('max_retry', 5),
    'f2b_ssh_enabled':     fail2ban.get('ssh', {}).get('enabled', true),
    'f2b_nginx_http_auth_enabled': fail2ban.get('nginx_http_auth', {}).get('enabled', true),
    'f2b_wp_login_enabled': fail2ban.get('wp_login', {}).get('enabled', true),
    'f2b_wp_login_max_retry': fail2ban.get('wp_login', {}).get('max_retry', 5),
    'f2b_wp_login_find_time': fail2ban.get('wp_login', {}).get('find_time', 600),
    'f2b_wp_login_ban_time': fail2ban.get('wp_login', {}).get('ban_time', 3600),
    'sops_version':        '3.9.2',
    'age_version':         '1.2.0',
    'sops_secrets_file':   '/opt/wpadmin/srv/pillar/secrets.sls',
    'sops_config_file':    '/opt/wpadmin/.sops.yaml',
    'prometheus_ip':       mon.get('prometheus_ip', '10.89.0.40'),
    'grafana_ip':          mon.get('grafana_ip', '10.89.0.41'),
    'node_exporter_ip':    mon.get('node_exporter_ip', '10.89.0.42'),
    'mysql_exporter_ip':   mon.get('mysql_exporter_ip', '10.89.0.43'),
    'redis_exporter_ip':   mon.get('redis_exporter_ip', '10.89.0.44'),
    'grafana_admin_password': mon.get('grafana_admin_password', 'changeme'),
    'scrape_interval':     mon.get('scrape_interval', '15s'),
    'evaluation_interval': mon.get('evaluation_interval', '15s'),
    'retention_time':      mon.get('retention_time', '15d'),
    'prometheus_data':     network.get('prometheus_data', '/srv/wp/prometheus/data'),
    'grafana_data':        network.get('grafana_data', '/srv/wp/grafana/data'),
} %}
