{% set users = salt['pillar.get']('users', {}) %}
{% set network = salt['pillar.get']('network', {}) %}
{% set redis_pillar = salt['pillar.get']('redis', {}) %}
{% set secrets = salt['pillar.get']('secrets', {}) %}

{% set settings = {
    'podman_user':      users.get('podman_user', 'podman-wp'),
    'podman_uid':       users.get('podman_uid', 1001),
    'podman_home':      users.get('podman_home', '/home/podman-wp'),
    'subuid_start':     users.get('subuid_start', 100000),
    'subuid_count':     users.get('subuid_count', 65536),
    'subgid_start':     users.get('subgid_start', 100000),
    'subgid_count':     users.get('subgid_count', 65536),
    'domain':           network.get('domain', 'example.com'),
    'ssh_port':         network.get('ssh_port', 2222),
    'network_name':     network.get('network_name', 'wp-network'),
    'subnet':           network.get('subnet', '10.89.0.0/24'),
    'gateway':          network.get('gateway', '10.89.0.1'),
    'mysql_ip':         network.get('mysql_ip', '10.89.0.10'),
    'redis_ip':         network.get('redis_ip', '10.89.0.20'),
    'redis_data':       redis_pillar.get('data_dir', '/srv/wp/redis/data'),
    'redis_maxmemory':  redis_pillar.get('maxmemory', '256mb'),
    'wp_node1_ip':      network.get('wp_node1_ip', '10.89.0.31'),
    'wp_node2_ip':      network.get('wp_node2_ip', '10.89.0.32'),
    'nginx_ip':         network.get('nginx_ip', '10.89.0.2'),
    'anubis_ip':        network.get('anubis_ip', '10.89.0.5'),
    'http_port':        network.get('http_port', 80),
    'https_port':       network.get('https_port', 443),
    'external_interface': network.get('external_interface', 'eth0'),
    'base_dir':         network.get('base_dir', '/srv/wp'),
    'mysql_data':       network.get('mysql_data', '/srv/wp/mysql/data'),
    'mysql_conf':       network.get('mysql_conf', '/srv/wp/mysql/conf'),
    'mysql_init':       network.get('mysql_init', '/srv/wp/mysql/init'),
    'uploads_dir':      network.get('uploads_dir', '/srv/wp/uploads'),
    'nginx_conf':       network.get('nginx_conf', '/srv/wp/nginx/conf'),
    'nginx_ssl':        network.get('nginx_ssl', '/srv/wp/nginx/ssl'),
    'wp_config_dir':    network.get('wp_config_dir', '/srv/wp/wp-config'),
    'wp_bin':           network.get('wp_bin', '/srv/wp/bin'),
    'wp_core_dir':      network.get('wp_core_dir', '/srv/wp/wordpress-core'),
    'mysql_root_pass':  secrets.get('mysql_root_password', ''),
    'mysql_wp_user':    secrets.get('mysql_wp_user', 'wordpress'),
    'mysql_wp_pass':    secrets.get('mysql_wp_password', ''),
    'mysql_wp_db':      secrets.get('mysql_wp_database', 'wordpress'),
    'redis_password':   secrets.get('redis_password', ''),
    'wp_auth_key':         secrets.get('wp_auth_key', ''),
    'wp_secure_auth_key':  secrets.get('wp_secure_auth_key', ''),
    'wp_logged_in_key':    secrets.get('wp_logged_in_key', ''),
    'wp_nonce_key':        secrets.get('wp_nonce_key', ''),
    'wp_auth_salt':        secrets.get('wp_auth_salt', ''),
    'wp_secure_auth_salt': secrets.get('wp_secure_auth_salt', ''),
    'wp_logged_in_salt':   secrets.get('wp_logged_in_salt', ''),
    'wp_nonce_salt':       secrets.get('wp_nonce_salt', ''),
    'images': {
        'mysql':        'docker.io/library/mysql:8.0',
        'redis':        'docker.io/library/redis:7-alpine',
        'wordpress':    'docker.io/library/wordpress:php8.2-fpm-alpine',
        'nginx':        'docker.io/library/nginx:1.25-alpine',
        'anubis':       'ghcr.io/techarohq/anubis:latest',
    },
    'packages': {
        'podman':       ['podman'],
    },
} %}
